@model IEnumerable<StudentWebApp.Models.Database.Student>

<h2>Student List</h2>

<link href="~/Content/Datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<p>
    @{
        if (User.Identity.IsAuthenticated && Roles.GetRolesForUser().Length > 0)
        {
            if (@Roles.GetRolesForUser()[0] == "admin")
            {
                @Html.ActionLink("Add New Student", "Create")
            }
        }

    }
</p>

<div class="table-responsive no-padding">
    <table class="table table-striped studentdatatable">
        <thead>
            <tr style="font-weight: bold;">
                <td>FirstName </td>
                <td>LastName</td>
                <td>Email </td>
                <td>DOB </td>
                <td>Courses Taken</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName </td>
                    <td>@item.LastName </td>
                    <td>@item.Email </td>
                    <td>@item.DOB.ToShortDateString()</td>
                    <td>@item.Courses.Count </td>
                    <td>
                        @Html.ActionLink("Details of Student", "Details", new { id = item.StudentID }) |
                        @if (User.Identity.IsAuthenticated && Roles.GetRolesForUser().Length > 0)
                          {
                              if (@Roles.GetRolesForUser()[0] == "admin" &&  @item.Courses.Count  > 0)
                               {
                                     @Html.ActionLink("Edit Student |", "Edit", new { id = item.StudentID }) 
                              }
                              else if (@Roles.GetRolesForUser()[0] == "admin" && @item.Courses.Count == 0)
                                  {
                                      @Html.ActionLink("Edit Student | ", "Edit", new { id = item.StudentID }) 
                                      @Html.ActionLink("Delete Student |", "Delete", new { id = item.StudentID }) 
                              }
                          }
                        @Html.ActionLink("Courses Taken", "Index", "Courses", new { id = item.StudentID }, null) 
                      
                   </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            // dataTable code
            $(".studentdatatable").DataTable({
                paging: true,
                scrollY: 400,
                'pageLength': 3,
                'columns': [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null

                ]

            });

        });
    </script>
}
