@model IEnumerable<StudentWebApp.Models.Database.Course>

<h2>Courses taken by  : @ViewBag.FirstName  @ViewBag.LastName</h2>

    @{
        if (User.Identity.IsAuthenticated && Roles.GetRolesForUser().Length > 0)
        {
            if (@Roles.GetRolesForUser()[0] == "admin")
            {
                <p>
                    @Html.ActionLink("Add New Course", "Create")
                </p>
            }
        }

    }
<link href="~/Content/Datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="table-responsive no-padding">
    <table class="table table-striped coursedatatable">
        <thead>
            <tr style="font-weight: bold;">
                <td>Course Name </td>
                <td>Fee Per Session</td>
                <td>StartDate </td>
                <td>EndDate </td>
                <td>Student Last Name</td>
                <td>Teacher Last Name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var startDate = @item.StartDate.HasValue ? @item.StartDate.Value.ToShortDateString() : null;
                var endDate = @item.EndDate.HasValue ? @item.EndDate.Value.ToShortDateString() : null;
                <tr>
                    <td>@item.CourseName</td>
                    <td>@item.Fee</td>
                    <td>@startDate </td>
                    <td>@endDate</td>
                    <td>@item.Student.LastName</td>
                    <td>@item.Teacher.LastName</td>
                    <td>
                       @Html.ActionLink("Details of Course", "Details", new { id = item.CourseID }) |
                        @if (User.Identity.IsAuthenticated && Roles.GetRolesForUser().Length > 0)
                        {
                            if (@Roles.GetRolesForUser()[0] == "admin" && @item.Student.Courses.Count > 0)
                            {
                                @Html.ActionLink("Edit Course |", "Edit", new { id = item.CourseID })
                            }
                            else if (@Roles.GetRolesForUser()[0] == "admin" && @item.Student.Courses.Count == 0)
                            {
                                @Html.ActionLink("Edit Course |", "Edit", new { id = item.CourseID })
                                @Html.ActionLink("Delete Course", "Delete", new { id = item.CourseID })
                            }
                        }
                                      
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
     <script type="text/javascript">
        $(function () {
            // dataTable code
            $(".coursedatatable").DataTable({
                paging: true,
                scrollY: 400,
                'pageLength': 3,
                'columns': [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                 ]
            });

        });
    </script>
}
