@model StudentWebApp.Models.Database.Course

<h3>Are you sure you want to delete this Course?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CourseName
        </dt>
        <dd>
            @Model.CourseName
        </dd>

        <dt>
            Fee Per Session
        </dt>
        <dd>
            @Model.Fee
        </dd>

        <dt>
            StartDate
        </dt>

        <dd>
            @Model.StartDate
        </dd>

        <dt>
            EndDate
        </dt>

        <dd>
            @Model.EndDate
        </dd>

        <dt>
            Student FirstName
        </dt>

        <dd>
            @Model.Student.FirstName
        </dd>

        <dt>
            Teacher FirstName
        </dt>

        <dd>
            @Model.Teacher.FirstName
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
