@model StudentWebApp.Models.Database.Course

 
<div class="container">
  
    <hr />
    <h4>Details Of Course</h4>
    <hr />
    <dl class="dl-horizontal">
        var startDate = @Model.StartDate.HasValue ? @Model.StartDate.Value.ToShortDateString() : null
        var endDate = @Model.EndDate.HasValue ? @Model.EndDate.Value.ToShortDateString() : null
        <dt>
            CourseName
        </dt>
        <dd>
            @Model.CourseName
        </dd>

        <dt>
            Fee Per Session
        </dt>
        <dd>
            @Model.Fee
        </dd>

        <dt>
            StartDate
        </dt>
        <dd>
            
         @startDate
        </dd>

        <dt>
            EndDate
        </dt>
        <dd>
            @Model.EndDate.HasValue ? @Model.EndDate.Value.ToShortDateString() : null
        </dd>

        <dt>
            Student FirstName
        </dt>
        <dd>
            @Model.Student.FirstName
        </dd>

        <dt>
            Teacher FirstName
        </dt>
        <dd>
            @Model.Teacher.FirstName
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
